#highsetbody .ant-menu-root{
    height: 950px;
}
#highsetbody .Lowalar-left{
    margin-top: 24px;
}
#highsetbody .Administrator{
    float: right;
    height: 50px;
    line-height: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
#highsetbody .Administrator i{
    margin-right: 25px;
}
#highsetbody .Administrator  span{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    display: inline-block;
}
#highsetbody .top{
    height: 50px;
    background: #00284D;
    width: 100%;
    line-height: 36px;
    color: white;
    overflow: hidden;
    text-align: center;
    padding: 7px;
    font-size: 13px;
}
#highsetbody .switch-btn{
    float: left;
}
#highsetbody .Lowalar-right{
    float: left;
    margin-top: 24px;
    width: 77%;
}
#highsetbody .Lowalar-rt{
    border-bottom: 1px solid #999;
    height: 50px;
    width: 100%;
    padding-left: 20px;
}
#highsetbody .nav{
    height:30px;
    line-height: 30px;
    padding-left: 20px;
    background: white;
}
#highsetbody .tit{
    font-size: 20px;
    background: white;
    height: 50px;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.847058823529412);
    font-weight: bold;
    padding-left: 20px;
}

/*当前/历史*/
#highsetbody .current{
    float: left;
    width: 100%;
    background: #F0F2F5;
}
#highsetbody .ant-tabs-bar{
    border:none;
}
#highsetbody .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    float: left;
    margin-right: 0;
    border:none;
    border-radius: 0;
}
#highsetbody .ant-tabs-tab-active{
    color: white !important;
    background: #1890ff !important;
}
#highsetbody .current_text{
    background: white;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#highsetbody .ant-select{
    width: 110px ;
    margin-right: 10px;
    margin-left: 10px;
}

/*起始时间*/
#highsetbody .current-time{
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
/*导出*/
#highsetbody .derive{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background:rgba(230, 247, 255, 1);
    border:1px solid rgba(186, 231, 255, 1);
    margin-top: 10px;
    padding-left: 15px;
    border-radius: 5px;
    padding-right: 5px;
}
#highsetbody .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 10px 10px;
    text-align: center
}
.addinput{
    width: 75%;
    text-align: left;
    margin:0 auto;
    margin-top: 20px;
}
.btn{
    width: 75%;
    text-align: right;
    margin:0 auto;
    margin-top: 20px;
}