#loginmbody{
    background: url(background.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#loginmbody  .login-form {
    max-width: 380px;
    margin:0 auto
  }
#loginmbody   .login-form-forgot {
    float: right;
  }
#loginmbody    .login-form-button {
    width: 100%;
  }
  #loginmbody  .ant-input{
      height: 40px;
      line-height: 40px;
  }
#loginmbody .title{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: #333;
    height: 60px;
}
#loginmbody .footer{
    text-align: center;
    font-size: 15px;
    width: 100%;
    line-height: 30px;
    margin-top: 200px;
}
#loginmbody .footimg{
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
}
@media screen and (max-width: 600px) {
    #loginmbody .title{
        font-size: 30px;
    }
}
@media screen and (max-width: 400px) {
    #loginmbody .title{
        font-size: 25px;
    }
}
@media screen and (max-width: 330px) {
    #loginmbody .title{
        font-size: 20px;
    }
}
@media screen and (max-width: 270px) {
    #loginmbody .title{
        font-size: 16px;
    }
}
@media screen and (max-width: 210px) {
    #loginmbody .title{
        font-size: 12px;
    }
}